*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial;
}
.banner{
	width: 100%;
	height: 100vh;
	background-position: center;
}
.navbar{
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo{
	margin-top: -20px;
	margin-left: -80px;
	width: 60px;
	cursor: pointer;

}
.navbar ul li{
	font-weight: 100px;
	margin-top: 90px;
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}
.navbar ul li a{
	font-weight: bold;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
}
.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0%;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.5s;
}
.navbar ul li:hover::after{
	width: 100%;

}

body{
	background-image:url(back.jpg) ;
	background-size: fit;
	height: 100vh;
	display: flex;
}
.container img{
	float: left;
}
.header{
	border-radius: 5px;
	position: fixed;
	width: 100%;
	border-radius: 5px;
	background-image: linear-gradient(to right, #63a2ff, #0569ff);
}
.container-fluid .navbar-brand{
	font-size: 30px;
	width: 0ch;
	overflow: hidden;
	white-space: nowrap;
	animation: text 6.5s  infinite alternate;
	color: black;
	opacity: 70%;
	font-weight: bold;
}
.nav-link{
	color: black;
	transition: 0.5s;
}
.nav-link:hover{
	font-size: 20px;
	color: rgb(255, 0, 212);
}
@media(min-width: 998px){
	.nav-link{
		margin-left: 2.8em;
		margin-right: 3.2em;
		text-align: center;
	}
}
@keyframes text{
	0%{
		width: 0ch;
	}
	50%{
		width: 20ch;
	}
}
div.main{
	margin: 100px auto 0 auto;
	width: 900px;
}
h2{
	text-align: center;
	padding: 20px;
	font-family: arial;
}
div.register{
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	font-size: 18px;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 0, 0.3);
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
	color: #0f0e0e;
}
form#register{
	margin: 40px;
}
label{
	font-family: arial;
	font-size: 18px;
	font-weight:bold ;
}
input#name{
	width: 300px;
	border: 1px solid #ddd;
	border-radius: 3px;
	outline: 0;
	padding: 7px;
	background-color: #fff;
	box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
}
div .index button {
	width: 100px;
	padding: 5px 0;
	
	margin-left: 350px;
	margin-bottom:10px;
	border-radius: 25px;
	font-weight: bold;
	border: 3px solid #009688;;
	background: transparent;
	color: black;
	font-size: 20px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
